body{
	font-family: 'Cabin', sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(237, 252, 255);
}

nav {
	background-color: #FAFAFA;
	padding: 10px 20px;
	border-bottom: 1px solid rgb(0, 101, 128);
	box-shadow: 10px 10px 10px rgb(230, 251, 255);
}

ul {
	margin: 0;
	list-style-type: none;
	padding: 0;
	text-align: right;
	padding-right: 10px;
}

nav ul li {
	display: inline-block;
	padding-right: 20px;
	text-transform: uppercase;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: rgb(0, 101, 128);
}

#navbar-logo {
	padding-left: 10px;
	height: 30px;
	float: left;
}

.section {
	padding: 40px;
}

#info-utama {
	display: flex;
}

.section h1 {
	margin-top: 0;
}

#identitas {
	width: 50%;
}

#identitas p {
	line-height: 30px;
	color:  #4c4c4c;
	font-size: 20px;
	text-align: justify;
}

#gambar {
	width: 50%;
}

#gambar img {
	width: 80%;
	border-radius: 50%;
	padding-left: 80px;
	box-shadow: 10px 8px #b3e2ef;
}

.hubungi {
	padding: 12px 32px;
	background-color: #edfcff ;
	color: #508998;
	margin-top: 16px;
	border-radius: 32px;
	border: 1px solid #508998;

	transition: 0.3s;
}

.hubungi:hover {
	box-shadow: 0px 5px 10px #43717d;
	background-color: #508998;
	color: white;
	transition: 
}

footer {
	background-color: #9cc5d0;
	padding: 10px 20px;
}

footer ul li {
	display: inline-block;
	padding-right: 20px;
	text-transform: uppercase;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
}